/*estilos del header*/
.app__header{
    width: 100%;
    min-height: auto;
}
.header__navbar{
    width: 100%;
    height: auto;
}
/*estilos del navbar*/
.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D6DDE6;
    color: #0E3569;
}

.navbar__name{
    padding-left: 0.5cm;
    font-family: 'Lora', serif;
}

.navbar__photo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar__photo-image{
    width: 150px;
    height: 100;
    border-radius: 50px;
    padding-left: 5px;
    padding-top: 5px;
}

.navbar__links {
    margin-right: 15px;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;
}

.navbar__links li {
    padding-right: 15px;
    text-align: center;
    justify-content: center;
}

.navbar__links a {
    color: #0E3569;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lora', serif;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar__links a:hover {
    color: #ff9933;
}